################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Rochas.RESTClient/obj
/.vs
/Rochas.RESTClient/bin

# Test artifacts
/Rochas.RESTClient.Tests/bin
/Rochas.RESTClient.Tests/obj
/Rochas.RESTClient.Tests/TestResults
*.nupkg
