################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Rochas.RESTClient/obj
/.vs
/Rochas.RESTClient/bin
